body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(49, 150, 119);
}

header {
  width: 100%;
  height: 150px;
  background-image: url('../img/banner.jpg') ;
  background-size: cover;
  background-color: brown;
  text-align: center;
}

header h1 {
  color: rgb(107, 238, 255);
  position: relative;
  top: 40%;
  margin: auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

nav {
  background-color: rgb(4, 211, 211);
  font-size: 20px;
  text-transform: uppercase;
  margin-top: -20px;

}

nav ul {
  list-style: none;

}

nav ul li {
  display: inline;
  margin: 5px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(9, 88, 88);
  color: rgb(255, 255, 255);
}

main .contanier {
  max-width: 800px;
}

main img {
  width: 150px;
  float: left;
  margin: 5px;
  border-radius: 20px;
}

main p {
  color: black;
  font-size: 20px;
  

}

footer {
  background-color: rgb(1, 127, 158);
  padding: auto;
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#roda-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rodape-logo img{
  width: 90px;
  margin: 0px;
}

#copyright {
  font-size: small;
}

/* Responsive layout  */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}