body {
	margin: 0px;
    display: inline;
    background-color: #0e3450;
}

/* banner */

header img {
    width: 430px;
    margin-top: -19px;
}

/* Menu */
header nav {
	background-image: -webkit-linear-gradient(0deg, #3981da 0%, #122235 100%);
	background-color: #3981da;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: -32px;
  }
  
  nav ul {
	list-style: none;
  
  }
  
  nav ul li {
	display: inline;
	margin: 5px;
  }
  
  nav ul li a {
	color: black;
	text-decoration: none;
  }
  
  nav ul li a:hover {
	background-color: rgb(4, 89, 104);
	color: rgb(255, 255, 255);
  }
  
  main {
	margin-top: 0px;

  }

  main h1 {
	  color: #85b8dd ;
  }

  main img {
	  width: 300px;
  }
   
  .contanier {
	max-width: 800px;
	  color: #85b8dd ;
	margin: 0px;
  }


section {
   font-size: 20px;
   text-align: center;
   margin: 20px;
}

/* Video */
video {
    width: 30%;
}

/* botão movimento */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 200px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: #bddef5;
	border: 2px solid rgb(0, 162, 216);
	box-shadow: 5px 5px 0 rgb(0, 162, 216),
		-5px -5px 0 rgb(0, 162, 216),
		-5px 5px 0 rgb(0, 162, 216),
		5px -5px 0 rgb(0, 162, 216);
	transition: 500ms ease-in-out;
    margin-top: 10px;
}

button:hover {
	box-shadow: 20px 5px 0 rgb(0, 162, 216), -20px -5px 0 rgb(0, 162, 216);
}

button:focus {
	outline: none;
}
/* Footer  */

footer {
    position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #3981da;

 }

#copyright {
	text-align: center;
	font-size: 15px;

}

#rodape-container {
	display: flex;
	justify-content: center;
	align-items: center;

}

#rodape-logo img{
	width: 30px;
	margin: 5px;
}

/* Social rede */

